body {
    padding: var(--spaces-ms)
}

.container {
    background-color: lightgray;
    margin-bottom: var(--spaces-l);
    margin-top: var(--spaces-l);
    padding: var(--spaces-xl);
}

h1 {
    margin-bottom: var(--spaces-ms)
}

p {
    margin-bottom: var(--spaces-m);
    margin-top: var(--spaces-m);
}